extends ../articleLayout

block content
    #main
        #board
            #title.article
                h1
                    a(href='/free') 자유게시판 
            #writeArticle
                form.write(method="post")
                    p 
                        input(name="title"  class="title" value=row.f_title)
                    p 
                        //- input(name="text" class="smallplaceholder large"  value=row.f_txt)
                        textarea(name="text" class="smallplaceholder large"  placeholder=row.f_txt)
                    input(type="submit").submit
