extends ../articleLayout

block content
    #main
        #board
            #title.article
                h1
                    a(href='/grad') 졸업게시판
            #writeArticle
                form.write(method="post")
                    p 
                        input(name="title"  class="title" value=row.g_title)
                    p 
                        //- input(name="text" class="smallplaceholder large"  value=row.g_txt)
                        textarea(name="text" class="smallplaceholder large"  placeholder=row.g_txt)
                    input(type="submit").submit
