extends ../articleLayout

block content
    #main
        #board
            #title.article
                h1
                    a(href='/info')=title 
            a#writeArticleButton(href='/writearticle') 새글을 작성해주세요
            
            each info in infos
                article
                    a(href='/info/'+info.i_num).articlelist
                        h2.medium=info.i_title
                        p.small=info.i_txt
                        h3.small 익명
                    .blanc
            //- article
            //-     a.article(href="#")
            //-         h2.medium 테스트
            //-         p.small 테스트
            //-         h3.small 익명
            //-         .blanc
            
            .next
                button(method="get").nextbutton 다음
            .pagination
                form#searchArticleForm.search
                    select(name="search_type")
                        option(value="4") 전체
                        option(value="3") 해시태그
                        option(value="2") 글제목
                        option(value="1") 글내용
                    input(name="keyword" placeholder="검색어를 입력하세요.").text
                    
            //- #comment
            //-     .parent
            //-         img.commentpro(src="https://cf-fpi.everytime.kr/0.png")
            //-         h3.medium 익명
            //-         p.large 아기고양이가 어디있다는 거에요? 아기고양이가?3
            //-     form(action='/login' method='post').writecomment
            //-         input(type='text' name='text' placeholder='댓글을 입력하세요').commentblank
                    input(type="submit").submit 