doctype html
html
    head
        title= title
        style
            include article.css
    body
        nav#header
            .wrap
                #logo
                    a(href='/')
                        img#img(src="/logo.png")
                    p
                        span.eta 에브리타임
                        span.schoolname 안양대
                #account
                    a(href='/login').button 로그인
                    a(href='/register').button.red 회원가입
                #menu
                    ul 
                        li 
                            a(href='#') 게시판
                        li 
                            a(href='#') 시간표
                        li 
                            a(href='#') 강의평가
                        li 
                            a(href='#') 학점계산기
                        li 
                            a(href='#') 친구
                        li 
                            a(href='#') 책방
                        li 
                            a(href='#') 캠퍼스픽
        #submenu
            .wrap
                ul
                    li
                        a(href="#").submenumini=자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                    li
                        a(href="#").submenumini 자유게시판
                   
        #wrap
            #box
                block content
                #right 
                    #rightbar
                        #rsearch
                        #rarticle1
                        #rarticle2
                        #rarticle3
                #footer EveryTime CloneCoding
