extends articleLayout

block content
    #main
        #board
            #title.article
                a(href='/free') 
                    h3 자유 게시판
            #text.article
                img.profileimg(src="/0.png")
                .profile
                    h3.large
                    time.large
                
        
            form.writecomment
            //- foreach 
            //- #comments.article
            //-     h3 댓글
            //- #commentinput.article
            //-     h3 댓글 입력창
                    