extends articleLayout

block content
    #main
        #board
            #title.article
                a(href='/free') 
                    h3 자유 게시판
            #text.article
                img.profileimg(src="/0.png")
                .profile
                    h3.large 익명
                    time.large dsfds
                    h2.large 치즈아깽이

                    p.large 글이 완성되어가는 과정인데 CSS는 역시 저한테는 쉽지 않습니다!!! 그래도 화이팅해서 끝내봅시다!
            #comment
                form(action='/login' method='post').writecomment
                    input(type='text' name='text' placeholder='댓글을 입력하세요').commentblank
                    input(type="submit").submit 
            //- foreach 
            //- #comments.article
            //-     h3 댓글
            //- #commentinput.article
            //-     h3 댓글 입력창
                    