extends articleLayout

block content
    #main
        #board
            #title.article
                a(href='/free') 
                    h3 자유 게시판
            #text.article
                img.profileimg(src="/0.png")
                .profile
                    h3.large 익명
                    time.large dsfds
                    h2.large 치즈아깽이

                    h4.large ㅁㄴㄹㄴㅇㅁㅎㅇㅁㄴ
            form(action='/login' method='post').writecomment
                input(type='text' name='text' placeholder='댓글을 입력하세요').text
                input(type="submit") 
            //- foreach 
            //- #comments.article
            //-     h3 댓글
            //- #commentinput.article
            //-     h3 댓글 입력창
                    