extends layout

block content
    #main
        #board
            #ad
            #free
                h3 비밀게시판
                hr
                a(href="/")  
                hr
                a(href="/") 
                hr
                a(href="/") 
                hr
                a(href="/") 
            #secret
                h3 비밀게시판
                hr
                a(href="/")  
                hr
                a(href="/") 
                hr
                a(href="/") 
                hr
                a(href="/") 

            #A1
                h3 비밀게시판
                hr
                a(href="/")  
                hr
                a(href="/") 
                hr
                a(href="/") 
                hr
                a(href="/") 
                
            #A2
                h3 비밀게시판
                hr
                a(href="/")  
                hr
                a(href="/") 
                hr
                a(href="/") 
                hr
                a(href="/") 
                
            #A3
                h3 비밀게시판
                hr
                a(href="/")  
                hr
                a(href="/") 
                hr
                a(href="/") 
                hr
                a(href="/") 
                
            #A4
                h3 비밀게시판
                hr
                a(href="/")  
                hr
                a(href="/") 
                hr
                a(href="/") 
                hr
                a(href="/") 
            #A5
                h3 비밀게시판
                hr
                a(href="/")  
                hr
                a(href="/") 
                hr
                a(href="/") 
                hr
                a(href="/") 
            #A6
                h3 비밀게시판
                hr
                a(href="/")  
                hr
                a(href="/") 
                hr
                a(href="/") 
                hr
                a(href="/") 
                