extends layout

block content
    #main
        #board
            #ad
            #free
            #secret
            #A1
            #A2
            #A3
            #A4
            #A5
            #A6