doctype html
html
    head
        title= title
        style
            include style1.css
    body
        #wrap
            #box
                #header 이곳은 헤더
                #left 여긴 left
                block content
                #right 여긴 right
                #footer EveryTime CloneCoding
