doctype html
html
    head
        title= title
        style
            include style1.css
    body
        nav#header
            .wrap
                #logo    
                    a(href='/')
                        img#img(src="/logo.png")
                    p
                        span.eta 에브리타임
                        span.schoolname 김경동
                #account
                    if pass == "logined"
                        a(href='/login').button 로그아웃
                    else
                        a(href='/login').button 로그인
                        a(href='/register').button.red 회원가입
                #menu
                    ul 
                        li 게시판
                        li 시간표
                        li 강의평가
                        li 학점계산기
                        li 친구
                        li 책방
                        li 캠퍼스픽
        #submenu
            .wrap
                .divider
                #board1
                    ul
                        li 게시판 목록
                        li 오늘의 인기글
                        li 이달의 인기글
                        li 4
                        li 5
                        li 6
            
                .divider
                #board2
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6

                .divider
                #board3
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6
                .divider
                #board4
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6

                .divider
                #board5
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6

                .divider
                #board6
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6

                .divider
                #board7
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6

        #wrap
            #box
                #left
                    #lfbar
                        #lflogin
                            form.login(action='/login' method='get')
                                h3 커뮤니티 이용을 위해
                                    br
                                    strong 로그인이 필요합니다.
                                a(href='/login').button.login 로그인
                                a(href='/register').button.register 회원가입
                        #lfad1
                        #lfad2
                        #lfad3
                block content
                #right 
                    #rightbar
                        #rsearch
                        #rarticle1
                        #rarticle2
                        #rarticle3
                #footer EveryTime CloneCoding
