doctype html
html
    head
        title= title
        style
            include style1.css
    body
        nav#header
            .wrap
                #logo
                    img#img(src="/logo.png")
                    p
                        span.eta 에브리타임
                        span.schoolname 안양대
                #account
                    if pass == "false1"
                        a(href='/login').button 로그인
                    else if pass == "false2"
                        a(href='/login').button 로그인
                        a(href='/register').button.red 회원가입
                #menu
                    ul 
                        li 게시판
                        li 시간표
                        li 강의평가
                        li 학점계산기
                        li 친구
                        li 책방
                        li 캠퍼스픽
        #submenu
            .wrap
                .divider
                #board1
                    ul
                        li 1 asdasdada
                        li 2asdadadas
                        li 3asdasdasdasdas
                        li 4
                        li 5
                        li 6
                        li 7
                .divider
                #board2
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6
                        li 7
                .divider
                #board3
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6
                        li 7
                .divider
                #board4
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6
                        li 7
                .divider
                #board5
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6
                        li 7
                .divider
                #board6
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6
                        li 7
                .divider
                #board7
                    ul
                        li 1 
                        li 2
                        li 3
                        li 4
                        li 5
                        li 6
                        li 7
        #wrap
            #box
                #left 여긴 left
                    .login
                    .ad01
                    .ad02
                    .ad03
                block content
                #right 여긴 right
                #footer EveryTime CloneCoding
