doctype html
html
    head
        title
        style
            include loginstyle.css
    body
        #container
            #logo
                a(href="/")
                    img#img(src="/logo.png")
                h3 회원가입
            form(action='/login' method='/post')
                p.input
                    input(type='text' name='userid' placeholder='아이디').text
                p.input
                    input(type='password' name='password' placeholder='비밀번호').text
                p.submit
                    input(type="submit" value="로그인" ).text
                label.autologin
                    input(type="checkbox" name="autologin" value="1")
                p.find
                      a(href='/forgot').button.red 회원가입
                p.register
                      a(href='/register').button.red 회원가입