extends ../articleLayout

block content
    #main
        #board
            #title.article
                h1
                    a(href='/free') 정보게시판
            #writeArticle
                form.write(method="post")
                    p 
                        input(name="title" placeholder="글 제목" class="title")
                    p 
                        textarea(name="text" placeholder="글 내용" class="smallplaceholder large")
                    input(type="submit").submit
