extends ../articleLayout

block content
    #main
        #board
            #title.article
                h1
                    a(href='/info') 정보게시판
            #text.article
                img.profileimg(src="/0.png")
                .profile
                    h3.large 익명
                    time.large 비공개
                    h2.large=row.i_title

                    p.large=row.i_txt
            #comment
                .parent
                    img.commentpro(src="https://cf-fpi.everytime.kr/0.png")
                    h3.medium 익명
                    p.large 아기고양이가 어디있다는 거에요? 아기고양이가?3
                form(action='/login' method='post').writecomment
                    input(type='text' name='text' placeholder='댓글을 입력하세요').commentblank
                    input(type="submit").submit 
            //- foreach 
            //- #comments.article
            //-     h3 댓글
            //- #commentinput.article
            //-     h3 댓글 입력창
                    